.planHeader {
    background-color: rgb(170, 236, 175);
    text-align:center;
    color:#0a7e10
}
body {
    padding:0.5em;
}

.navLogo {
    margin-right:2em !important;
}

.navRow {
    display:flex;
}